@model BookingDetailsFormModel

<tr>
<td>@($"{Model.DriverFirstName} {Model.DriverLastName}")</td>
<td>@Model.TruckPlateNumber</td>
<td>@Model.LoadingFactoryName</td>
<td>@Model.LoadingCityName</td>
<td>@Model.ReceivingFactoryName</td>
<td>@Model.ReceivingFactoryCityName</td>
<td>@Model.LoadName</td>
<td>@Model.LoadWeigth</td>
