@model BookingFormModel

@{
    ViewData["Title"] = "Booking Summary";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div>
    <h4>Load Details</h4>
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.LoadName</dd>
        <dt class="col-sm-2">Factory</dt>
        <dd class="col-sm-10">@Model.LoadingFactoryName</dd>
        <dt class="col-sm-2">Weight</dt>
        <dd class="col-sm-10">@Model.LoadWeigth</dd>
    </dl>
</div>

<div>
    <h4>Truck Details</h4>
    <dl class="row">
        <dt class="col-sm-2">Manufacturer</dt>
        <dd class="col-sm-10">@Model.TruckManufacturer</dd>
        <dt class="col-sm-2">License Plate</dt>
        <dd class="col-sm-10">@Model.TruckPlateNumber</dd>
    </dl>
</div>

<div>
    <h4>Driver Details</h4>
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.DriverFirstName</dd>
        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.DriverLastName</dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="BookingSummary" method="post">
            <input type="hidden" asp-for="SelectedLoadId" />
            <input type="hidden" asp-for="SelectedTruckId" />
            <input type="hidden" asp-for="SelectedDriverId" />
            <input type="submit" value="Confirm" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-md-6">
        <a asp-action="SelectLoad" class="btn btn-secondary">Edit</a>
    </div>
</div>