@model IEnumerable<BookingDetailsFormModel>

@{
    ViewData["Title"] = "My Bookings";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <p>No bookings found.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Driver</th>
                    <th>Truck Plate Number</th>
                    <th>Sending Factory Name</th>
                    <th>City</th>
                    <th>Receiving Factory Name</th>
                    <th>Receiving Factory City</th>
                    <th>Load Name</th>
                    <th>Load Weight</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.Where(b=>b.BookingStatusId==1))
                {
                    <tr>
                        <td>@($"{booking.DriverFirstName} {booking.DriverLastName}")</td>
                        <td>@booking.TruckPlateNumber</td>
                        <td>@booking.LoadingFactoryName</td>
                        <td>@booking.LoadingCityName</td>
                        <td>@booking.ReceivingFactoryName</td>
                        <td>@booking.ReceivingFactoryCityName</td>
                        <td>@booking.LoadName</td>
                        <td>@booking.LoadWeigth</td>
                        <td>
                            <form a asp-controller="Booking" asp-action="Receive" asp-route-id="@booking.Id">
                                <button type="submit" class="btn btn-primary">Receive</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}